<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Proceso de pago</title>
</head>
<body>
    <div class="paying">
        <div class="btnHomeSpace">
            <p><a href="/"><button class=btnHome >Inicio</button></a></p>
        </div>
        <div class="payProcess">
            <img class="logo" src="/static/img/printexpress.PNG"/>
            <div class ="price">
                <p>El precio a pagar es: ${{totalPrice}} COP</p>                
            </div>
            <div class="qr">
                    <p>QR</p>
            </div>
            <p>
                <input class="btn1" type="submit" name="pay" value="Pagar">
            </p>
            
        </div>
        
    </div>
    
</body>
</html>